#app {
  width: 100%;
}

h1 {
  margin: 30px 0 50px;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 0 auto;
  width: 90%;
}

.pokemon {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background: #ff6347;
  border-radius: 0.7rem;
  padding: 0.8rem 0;
  flex: 1 1 200px;
  transition: background 0.3s;
}

.pokemon:hover {
  background: #bd432d;
  cursor: pointer;
}

.pokemon:active {
  background: #913120;
}

.button-next,
.button-previous {
  margin-top: 2rem;

  width: 160px;
  height: 45px;
  border: none;

  border-radius: 0.6rem;
  background: #205191;
  color: white;
  font-size: 16px;
  transition: background 0.3s;
  margin-bottom: 30px;
}

.button-next:hover,
.button-previous:hover {
  background: #173f73;
  cursor: pointer;
}

.button-next:active,
.button-previous:active {
  background: #112f57;
}

#poke-img {
  width: min(300px, 100%);
}

.button-previous {
  margin-right: 20px;
}

h2 {
  padding-top: 30px;
}

#poke-id {
  padding: 30px 0;
}